.button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 2rem;
    padding: 0 0.75rem;
    margin: 0;
    border: 1px solid var(--btn-border-color);
    border-radius: 0;
    background-color: var(--btn-background-color);
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    white-space: nowrap;
    color: var(--btn-text-color);
    -webkit-user-select: none;
    user-select: none;

    @media (hover: hover) {
        &:hover:not([data-disabled]) {
            background-color: var(--btn-hover-color);
        }
    }

    &:active:not([data-disabled]) {
        background-color: var(--btn-active-color);
    }

    &[data-disabled] {
        background-color: var(--btn-disabled-background-color);
        color: var(--btn-disabled-color);
        border-color: var(--btn-disabled-border-color);
    }

    &:focus-visible {
        outline: 2px solid var(--btn-focus-color);
        outline-offset: -1px;
    }
}