@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-1: #38b6ff;
        --primary-2: #3ca0d8;

        --secondary-1: #e2e4e5;

        --accent-1: #731f6c;

        --neutral-1: #0b1215;
        --neutral-2: #021a27;
        --neutral-3: #f0f8ff;
        --neutral-4: #c0d1d9;
    }
}

@layer base {
    body {
        @apply bg-neutral-2 text-neutral-3;
    }
}

.root {
    isolation: isolate;
}

body {
    position: relative;
}