.nav-root {
    box-sizing: border-box;
    color: oklch(14.5% 0 0deg);
    width: 100%;
    height: max-content;
    padding: 4px 16px;
    background-color: white;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    @media (max-width: 640px) {
        display: flex;
        justify-content: space-between;
    }
}

.nav-logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-logo-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    max-width: 25%;
    padding: 2%
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: 640px) {
        gap: 4px;
    }
}

.nav-right-slot {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 640px) {
        display: none;
    }
}

.nav-trigger {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.375rem;
    height: 2rem;
    padding: 0 0.75rem;
    margin: 0;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: oklch(14.5% 0 0deg);
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;

    @media (hover: hover) {
        &:hover {
            background-color: oklch(97% 0 0deg);
        }
    }

    &[data-pressed] {
        background-color: oklch(97% 0 0deg);
    }

    &:focus-visible {
        outline: 2px solid oklch(14.5% 0 0deg);
        outline-offset: -1px;
    }

    @media (max-width: 640px) {
        padding: 0 0.5rem;
    }
}